
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/*Formato del texto y botones*/
.modal {
	box-sizing: border-box;
}


.modal h1 {
	font-weight: bold;
	margin: 0;
}

.modal h2 {
	text-align: center;
}

.modal p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.modal a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

/*Formato boton de confirmacion*/
.modal button {
	border-radius: 20px;
	border: 1px solid darkorchid;
	background-color: darkorchid;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.modal button:active {
	transform: scale(0.95);
}

.modal button:focus {
	outline: none;
}


.modal button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

/*Formato del formulario*/
.modal form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

/*Campos de ingresos*/
.modal input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

/*Formato de los contenedores*/
.modal .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;

	
}

.modal .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.modal .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.modal .container .Noti{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 10%;
	border-radius: 10px;
	border: solid 2px red;
	margin-top: 20px;
	opacity: 0;
	font-size: 9px;
}


/*Animacion, mueve el formulario a la izquierda*/
.modal .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.modal .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

/*Animacion, mueve el formulario a la derecha */
.modal .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show /*0.6s*/;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.modal .overlay-container {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

/*Animacion, mueve el panel de inicio de sesion a la izquierda*/
.modal .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

/*Formato del panel de colores*/
.modal .overlay {
	background: purple;
	background: -webkit-linear-gradient(to right, darkorchid, darkmagenta);
	background: linear-gradient(to right, darkorchid, darkmagenta);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.modal .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.modal .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*padding: 0 40px;*/
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.modal .overlay-left {
	transform: translateX(-20%);
}
/*Desactivacion del panel izquierdo*/
.modal .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.modal .overlay-right {
	right: 0;
	transform: translateX(0);
}
/*Desactivacion del panel derecho*/
.modal .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.modal .social-container {
	margin: 20px 0;
}

.modal .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.modal footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.modal footer p {
    margin: 10px 0;
}

.modal footer i {
    color: red;
}

.modal footer a {
    color: #3c97bf;
    text-decoration: none;
}

.social img{
	position: relative;
	top:2px;
	width: 30px;
}

#tyc{
	display: block;
	width: 25px;
}
.modal form label{
	display: block;
	font-size: small;
}