

.login-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #071230, #001727);
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid rgb(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20PX;
}
.letras{
    font-size: 2.5em;
    color:white;
    margin-bottom: 50px;
}

h2{
    font-size: 2em;
    color:white;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right:  3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
   text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 20px;
}

.register p a{
    text-decoration: none;
    color: #fff; 
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.form-regis-box{
    width: 500px;
    height: 700px;
    background-color: transparent;
    border: 2px solid rgb(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20PX;
    z-index: 1;
}

.form-regis-box h2{
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

.form-regis-box label{
    color: #fff;
    text-align: center;
   
}

.form-regis-box input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-regis-box button{
    width: 300px;
    height: 40px;
}

.form-regis-box .Noti{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor_espera{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    background-color: #001727;
    opacity: 0;
    z-index: 0;
    border: 2px solid rgb(255,255,255,0.5);
    border-radius: 20px;
    margin-top: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s;
}

.showSDASDASD{
    opacity: 1;
    z-index: 2;
}

.contenedor_espera .loader{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.contenedor_espera .loader span{
    position: absolute;
    top:0;
    left: 0; 
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.contenedor_espera .loader span::before{
    content: '';
    position: absolute;
    top:0;
    left: 0; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aquamarine;
    box-shadow: 0 0 10px aquamarine,
                0 0 20px aquamarine,
                0 0 40px aquamarine,
                0 0 60px aquamarine,
                0 0 80px aquamarine,
                0 0 100px aquamarine;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate{
    0%{
        transform: scale(1);
    }80%,100%{
        transform: scale(0);
    }
}

.contenedor_espera .mensaje{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: aquamarine;
}

.contenedor_espera button{
  margin-top: 20px;
  width: 60%;
  height: 50px;
}

@media screen and (max-width: 470px){
    .form-box{
        width: 90%;
    }

    .form-regis-box{
        width: 90%;
    }
    

    h2{
        font-size: 1em;
    }
    .letras{
        font-size: 1.5em;
    }
    
}
