ul.hola{
    background-color: #47a386;
    border:0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    margin-left: 291mm;
    bottom: 80px;
    position: relative;
    width: 10%;
}

.UserC{
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #25032a, #000000);;
}
.modal2_user{
    position: relative;
    border-radius: 50%;
    margin-top: 50px;
    width: 100px;
    height: 100px;
}

.dowlong{
    color: #d8e2dc;
    position: relative;
    font-size: 1.5rem;
    bottom: 0;
}

.modal2 button{
    background-color: #10091c;
    height: 100%;
    border:0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    padding: 20px 35px 20px 35px ;
    margin-bottom: 10px;
}

.btn-cont{
    background-color: #10091c;
    height: 100%;
    border:0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    padding: 20px 35px 20px 35px ;
    margin-bottom: 10px;
    cursor: pointer;
}



.model-container2{
    font-family: 'Kodchasan', sans-serif;
    display: flex;
    background-color: rgb(0, 0, 0,0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    z-index: 15;
    transition: opacity 0.3s ease;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.modal2{
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 400px;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    text-align: center;
    transition: 1s;
}

.close1 {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    z-index: 1000;
    top:0;
    right: 14%;
    position: absolute;
  }

  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal2move{
    right: 0px;
}

.modal2 h1{
    margin: 0;
}

.modal2 p{
    opacity: 0.7;
    font-size: 14px;
}

.modal2 .close{
    top: -20px;
    left: 15px;
    position: relative;
}


@media screen and (max-width: 410px) {
    .modal2{
        width: 310px;
    }
}