
/* X de cerrado de la descripcion del slider */
.closeD {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000;
  right: 14%;
  position: absolute;
}

.closeD:hover,
.closeD:focus {
  color: crimson;
  text-decoration: none;
  cursor: pointer;
}


/*Formato de la descripcion de los videos*/
#videos h1{
  color: crimson;
  font-size: large;
  text-align: center;
}
#videos p{
  font-size: medium;
  margin-inline: 20px;
  color: white;
}

.desc{
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: rgb(#952f2f40);
  opacity: 0;
  z-index: -1;
  transition: 1s ease;
}


/*Contenedor del slider de videos*/
.mySlides {
    display: none;
    justify-content: center;
    position: relative;
    height: 433px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  position: relative;
  z-index: 2;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/*Formato de los videos*/
#videos{
  height:  450px;
}

#videos iframe{
  border:  none;
  width: 71.5%;
  height: 433px;
  transition: 1s;
  z-index: 2;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*Accion para activar la descripcion*/
.other{
  opacity: 1;
  transform: translateX(117%);
  transition: 0.7s ease;
  z-index: 1;
}

/*Accion para mover el video*/
.activeVid{
  transform: translateX(-21.8%);
  transition: 0.7s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  section{
    width: 95%;
  }

  /*Movimiento de la descripcion en caso de tener una pantalla mas chica*/
  .other{
    transform: translatey(143%);
    height: 180px;
  }
  
  #videos iframe{
    width: 100%;
  }
  /*Movimiento de los videos en cambio de no poder moverlo horizontalmente*/
  .activeVid{
    transform: translatey(-14%);
    height: 300px !important;

  }

  .activeDot{
    bottom: -145;
  }

  .prev, .next{
    top: 250px;
    z-index: 3;
  }

  .desc{width: 100%;}
}

@media only screen and (max-width: 450px) {
  section{
    width: 100%;
  }
  .other{
    transform: translatey(120%);

  }
  #videos iframe{
    height: 250px !important;
    top: 100px;
    position: relative;
  }
  .activeVid{
    transform: translatey(-52%);
  }

}

/*
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}*/